<div class="contenedor">
    <form [formGroup]="formularioCredenciales" (ngSubmit)="manejarEnvio()">
        <h1 class="text-center mb-3">Crear Usuario</h1>
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" id="username" aria-describedby="username" formControlName="username">
        </div>
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" aria-describedby="nombre" formControlName="nombre">
          </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" formControlName="password">
        </div>
        <button type="submit" class="btn btn-primary">Crear Cuenta</button>
        <p class="mt-4 text-center">Ya tienes una cuenta? <a href="login">Inicia sesion</a></p>       
      </form>
</div>
